body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    display: none;
    max-width: 72px;
}

.loading img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loading.active {
    display: block;
}

.cards-block {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card-item{
    width: calc(100%/5 - 72px);
    padding: 24px;
    border: 1px solid lightsalmon;
    border-radius: 8px;
}

.card-item > div {
    margin-bottom: 10px;
}

.card-item > div span{
    font-weight: bold;
}

.card-item__image{
    width: 100%;
    overflow: hidden;
    margin-bottom: 32px !important;
}

.card-item__image img{
    width: 100%;
    border-radius: 8px;
}